*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper{
    width: 80%;
    min-width: 930px;
    margin: 0 auto;
    text-align: center;
}
.wrapper ul{
    display: inline-block;
}
.wrapper li{
    /* vertical-align: top;
    display: inline-block; */
    float: left;
}
.wrapper li .item{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 5px 10px;
}
.wrapper li .item .image{
    width: 200px;
}
.wrapper li .item .image img{
    width: 200px;
}
.wrapper .loading{
    font-size: 30px;
    font-weight: bolder;
    color: #ccc;
    display: none;
}