*{
	margin: 0;
	padding: 0;
	font-size: 0;
	text-decoration: none;
	list-style: none;
}
.wrapper{
	position: relative;
	width: 500px;
	height: 280px;
	margin:100px auto;
	border: 3px solid rgb(199, 119, 119);
	overflow: hidden;
}
.box{
	width: 3500px;
	height: 280px;
	position: absolute;
	left: 0;
	top: 0;
}
.box li{
	display: inline-block;
}
.btn{
	display: none;
	position: absolute;
	top: 50%;
	width: 100%;
}
.btn a{
	position: absolute;
	width: 35px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.5)
}
.btn a.prev{
	left: 0;
	border-radius: 0 50% 50% 0;
}
.btn a.next{
	right: 0;
	border-radius:50% 0 0 50%;	
}
.btn a span{
	display: inline-block;
	width: 20px;
	height: 26px;
	margin-left: 5px;
	background-image: url(lbtimg/btn2.jpg);
}
.order{
	position: absolute;
	bottom: 30px;
	width:100%;
	text-align: center; 
}
.order ul{
	display: inline-block;
	background-color:rgba(255, 0, 0, 0.5);
	border-radius: 8px;
}
.order ul li{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	margin: 5px;
}
.order ul li.active{
	background-color: red;
}